---
import type { GetStaticPaths } from "astro";
import Base from "@/layouts/Base.astro";


const showSearch = false;

// export const getStaticPaths = (() => {
  
//     return [{'params': {'nombre': 'Federico Gobea'}, props:{
//         nombre: 'Federico Gobea',
//         guests: 2
//     }}];
// }) satisfies GetStaticPaths;

const {nombre} = Astro.params
const guests = 2;

---

<Base>
    <section class="section pt-14">
        <div class="container">
          <div class="row justify-center">
            <div class="mb-16 text-center lg:col-7">
                <h1>Confirma tu asistencía</h1>
               <h2>{nombre} </h2>
               <h4>Cupos {guests}</h4>
               <div class="col-span-full mt-5">
                   <button type="button" class="btn btn-primary">Confirmar</button>
                 </div>
            </div>
        </div>
    </div>
    </section>

</Base>